*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #0005;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    flex-grow: 1;
}

footer{
    background-color: #0005;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}