*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header{
    background: linear-gradient(orange, yellow, rgb(158, 255, 158));
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    display: flex;
    justify-content: start;
}
main{
    background: linear-gradient(#83f7f2, #42d6ed, #27aedb);
    flex-grow: 1;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50PX;
    align-items: center;
    height: 10em;
    position: relative;
}

.texto{
    background-color: #0005;
    width: 500px;
    height: 200px;
    display: flex;
    font-size: xx-large;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    flex-direction: column;
    padding: 2px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); ;
}

.texto:hover{
    box-shadow: 0px 0px 5px #0009;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    background-color: #8e5514;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}